<section class="jumbotron">
    <div class="container">
        <div class="welcome-message">
            <h1 class="text-center">欢迎来到格家美居</h1>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="product-grid">
                <div class="row">
                    <div class="product-item col-xs-6 col-sm-4">
                        <a href="javascript:void(0);">
                            <img src="theme/project/img/house1.png" alt="sample product" />
                        </a>
                        <h2><a href="javascript:void(0);">新中式风格 <span class="item-price">10000</span></a></h2>
                        <p>【TALMD案例】桂林彰泰悠山郡A-3户型 新中式风格-家居别墅-室内设计联盟</p>
                        <a class="btn btn-default btn-xs pull-right" href="javascript:void(0);" price="10000">购买 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                    <div class="product-item col-xs-6 col-sm-4">
                        <a href="javascript:void(0);">
                            <img src="theme/project/img/house2.png" alt="sample product" />
                        </a>
                        <h2><a href="javascript:void(0);">温馨家居 <span class="item-price">20000</span></a></h2>
                        <p>客厅装修效果图、客厅装修效果图大全2013图片、客厅装修效果图赏析 后现代装修风格、现代装修风格 温馨家居图片</p>
                        <a class="btn btn-default btn-xs pull-right" href="javascript:void(0);" price="20000">购买 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                    <div class="product-item col-xs-6 col-sm-4">
                        <a href="javascript:void(0);">
                            <img src="theme/project/img/house3.png" alt="sample product" />
                        </a>
                        <h2><a href="javascript:void(0);">小户型挑战LOFT <span class="item-price">5000</span></a></h2>
                        <p>小户型挑战LOFT，36平米空间亦有大作为</p>
                        <a class="btn btn-default btn-xs pull-right" href="javascript:void(0);" price="5000">购买 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="row pagination-wrap">
                    <ul class="pagination">
                        <li>
                            <a href="javascript:void(0);"><span class="fa fa-chevron-left"></span> Prev</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">1</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">2</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">3</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">4</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Next <span class="fa fa-chevron-right"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
